# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Arcane Flow.iml
# Datasource local storage ignored files
/../../../../../../:\Git Projects\Arcane Flow\.idea\.idea.Arcane Flow\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
